<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FolderPathOfInputFilesToRead" value="C://projects//Calculate Average Grade C#//Calculate-Average-Grades-Coding-Challenge-ACA//CalculateAverageClassGrades//InputFiles"/>
    <add key="FolderPathOfOutputFileToWrite" value="C://projects//Calculate Average Grade C#//Calculate-Average-Grades-Coding-Challenge-ACA//CalculateAverageClassGrades//OutputFile"/>
  </appSettings>
</configuration>